<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>iMovies | Account</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="row">
        <h1>Manage account</h1>
        <div class="section-manage">

            <form action="#" th:action="@{/account}" th:object="${account}" method="post" class="form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" th:field="*{email}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" th:field="*{lastname}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" th:field="*{firstname}" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">New password (leave empty for no change)</label>
                    <input type="password" th:field="*{password}" class="form-control" />
                </div>
                <p><button type="submit" value="Submit">Submit</button> <button type="reset">Reset</button></p>
            </form>

            <a class="btn btn-primary" th:href="@{/certificate/issue}">Download PCKS#12 certificate!</a>
        </div>
    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</body>
</html>