<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>iMovies | Account</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <h1>Admin Page</h1>
        <div class="section-manage">

            <div class="statis">
                <table class="table">
                    <tr>
                        <td>Number of certificates</td>
                        <td th:text="${details.numberOfCertificates}"></td>
                    </tr>
                    <tr>
                        <td>Number of revokes</td>
                        <td th:text="${details.numberOfRevokes}"></td>
                    </tr>
                    <tr>
                        <td>Serial number</td>
                        <td th:text="${details.serialNumber}"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</div>
</body>
</html>