<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>iMovies</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h1>iMovies</h1>

    <p th:inline="text">User: [[${#httpServletRequest.remoteUser}]]</p>

    <p th:unless="${#httpServletRequest.remoteUser != null}">Click <a th:href="@{/login}">here</a> to login.</p>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</body>
</html>